<p id="notice"><%= notice %></p>

<h1>Eno Cards</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eno_cards.each do |eno_card| %>
      <tr>
        <td><%= eno_card.text %></td>
        <td><%= link_to 'Show', eno_card %></td>
        <td><%= link_to 'Edit', edit_eno_card_path(eno_card) %></td>
        <td><%= link_to 'Destroy', eno_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eno Card', new_eno_card_path %>
